@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;

}

html {
    scroll-behavior: smooth;
}

footer {
    width: 100%;
    /* Ensure the footer takes the full width of the page */
    background-color: black;
    /* Your desired footer background color */
    color: white;
    /* Your desired footer text color */
    text-align: center;
    padding: 20px 0;
    /* Adjust as needed */
}


.footer-top {
    background-color: #ffbf009d;
    padding: 20px 0;
    text-align: center;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    padding: 10px;
}

.footer-column p {
    margin: 0;
}

.footer-bottom {
    padding: 20px;
    text-align: center;
}

.footer-bottom img {
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    padding-block: 10px;
    border-bottom: 1px solid white;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links a {
    margin: 0 10px;
    color: white;
}

.footer-social {
    margin: 20px 0;
}

.footer-social a {
    color: white;
    margin: 0 5px;
}

footer img {
    height: 80px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8f6b00;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    display: none;
    cursor: pointer;
    border: 1px solid black;
}

.back-to-top i {
    color: black;
}


#myLinks {
    background-color: rgb(0, 0, 0, 0.8);
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: .3s ease;
    padding: 0;
    z-index: 10;
}

#myLinks a {
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    text-align: center !important;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-block: 0px;
    background-color: black;
    height: 90px;
    z-index: 10;
}

.navbar a {
    padding: 0;
    margin: 0;
    margin-left: 25px;
    width: 100px;
    text-align: center !important;
}

.navbar img {
    width: 100%;
    object-fit: cover;
}

.activetab {
    color: gold !important;
}

.shopping-cart {
    position: fixed;
    top: 47px;
    right: 100px;
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    z-index: 9999;
}

.shopping-cart i {
    color: white;
}


.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.cart-count.animate {
    transform: scale(0);
    opacity: 0;
    animation: bounce 1s linear forwards;
}

@keyframes bounce {
    50% {
        transform: scale(2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.icon {
    cursor: pointer;
    margin-right: 25px;
    display: none;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position: relative;
    transition: .3s ease;
}


.icon.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.icon.active span:nth-child(2) {
    opacity: 0;
}

.icon.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.icon span {
    height: 3px;
    width: 25px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.icon span:nth-child(1) {
    top: 30%;
}

.icon span:nth-child(2) {
    top: 50%;
}

.icon span:nth-child(3) {
    top: 70%;
}

.cart {
    width: 100%;
    margin-top: calc(10vh + 90px);
    background: rgb(255, 255, 255);
    /* background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(143, 107, 0, 1) 100%); */
    margin-left: 50%;
    transform: translateX(-50%);
    color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
}

.cartTitle {
    position: absolute;
    top: 10px;
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}


.almost,
.almost2 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.almost:first-of-type {
    /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
    animation: showup 0.5s linear forwards;
}

.almost2:last-of-type {
    width: 0px;
    animation: reveal 3s linear forwards;
}

.almost2:last-of-type span {
    margin-left: -550px;
    animation: slidein 3s linear forwards;
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 480px;
    }


    100% {
        opacity: 1;
        width: 480px;
    }
}


#cartItems {
    width: 70%;
}


.cartTable {
    width: 100%;
    border: none;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-gutter: stable both-edges;
    height: 50vh;
    max-height: 80vh;
    color: black;
}

.cartTable::-webkit-scrollbar {
    width: 5px;
}

.cartTable::-webkit-scrollbar-track {
    background: transparent;
}

.cartTable::-webkit-scrollbar-thumb {
    background: #000000;
}

.cartTable::-webkit-scrollbar-thumb:hover {
    background: #8f6b00;
}


.cartTable tr {
    display: table;
    table-layout: fixed;
    border-bottom: 1px solid black;
    /* Define cell borders */
    padding: 10px;
    width: 100%;
    /* Ensure cells take up full width */
    box-sizing: border-box;
    /* Include padding and border in width */
    transition: all 0.5s linear;
}

.cartTable tr:hover {
    background-color: #f7c01b;
}


.cartTable td,
.cartTable th {
    padding: 5px;
    text-align: center;
    border: none;
    background-color: transparent;
}

.cart h1 {
    position: absolute;
    top: 0;
}

.cartInfo {
    font-size: 1.2rem;
    font-weight: bolder;
    width: 22%;
    vertical-align: center;
    height: 50%;
}


.quantity {
    text-align: center;
}

.itemImage {
    height: 50px;
    object-fit: cover;
}



.quantity {
    border: 1px solid black;
}

table i {
    cursor: pointer;
    color: red;
}

table i:hover {
    scale: 1.2;
}

.userInfoForms {
    margin-top: calc(10vh + 25px);
    background-color: white;
    color: black;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 25px;
    padding-block: 25px;
    scroll-margin-top: 90px;
}

.checkout-form {
    width: 40%;
}

.checkout-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.required {
    color: red;
}

.checkout-form h2 {
    position: relative;
}

.remark {
    position: absolute;
    font-size: 10px;
    right: 0;
}

.cartInfo {
    position: relative;
    text-align: center;
    border: 4px solid #8f6b00;
    border-style: double;
    border-radius: 25px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.7);
    pointer-events: none;
    transition: all 0.3s linear;
    overflow: hidden;
}

.cartInfo .form-button {
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
    pointer-events: auto;
}

.cartInfoText {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 83%;
    justify-content: space-between;
}

#total {
    flex: 1;
}

#originaltotal {
    flex: 1;
}

#promotion {
    flex: 1;
}

.form-button {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    transition: all 0.2s linear;
}


.form-button:hover {
    background-color: black;
    color: #8f6b00;
    border: 1px solid #8f6b00;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
    bottom: 12px;
}


.cartInfo:hover {
    background-image: linear-gradient(225deg, #8f6b00, white, #8f6b00);
}

.effacer:hover {
    background-color: rgb(196, 0, 0);
    color: white;
}

/* Additional CSS for rotating carets */
.rotate-up {
    transform: rotate(180deg);
}

.rotate-right {
    transform: rotate(90deg);
}

/* DROPDOWN*/
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: transparent;
    font-size: 16px;
    padding: 10px 10px !important;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* The dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    z-index: 9999;
    min-width: 160px;
    text-align: center;
    padding-block: 5px;
    padding-inline: 0;
    margin: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    text-align: center !important;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #8f6b00;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #8f6b00;
}

.dropdown:hover .mmfa {
    transform: rotate(180deg);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu2 {
    position: relative;
}

.dropdown-submenu a {
    text-align: center;
    flex-direction: row !important;
}

.dropdown-submenu2 a {
    flex-direction: row !important;
}

.dropdown-subcontent a, .dropdown-subcontent2 a {
    text-align: center !important;
}

/* Submenu content (hidden by default) */
.dropdown-subcontent, .dropdown-subcontent2 {
    display: none;
    position: absolute;
    top: 0;
    background-color: black;
    min-width: 160px;
    padding-block: 5px;
    padding-inline: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-subcontent {
    left: 100%;
}
.dropdown-subcontent2{
    left: 100%;
}
/* Show the submenu on hover */
.dropdown-submenu:hover .dropdown-subcontent {
    display: block;
}



.fa {
    transition: all 0.3s ease;
}
.dropdown-submenu:hover .mfa {
    transform: rotate(180deg);
}

.dropdown-submenu2:hover .sfa {
    transform: rotate(180deg);
}


.dropdown-submenu2:hover .dropdown-subcontent2 {
    display: block;
}


/* Arrow icon for submenus */
.dropdown-submenu a {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

/* Arrow icon styling */
.fa-caret-right {
    margin-left: 10px;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #8f6b00;
}

.dropdown-content.show {
    display: block;
}

.dropdown-subcontent.show, .dropdown-subcontent2.show, .dropdown-subcontent3.show {
    display: block;
}


@media (max-width: 750px) {
    .cart {
        flex-direction: column;
        height: fit-content;
        gap: 25px;
    }

    .icon {
        display: block;
    }

    .cartTable {
        margin-top: 20%;
        height: fit-content;
    }

    #cartItems {
        width: 95%;
    }

    .cartInfo {
        width: 100%;
        text-align: center;
        background-color: pink;
    }

    #myLinks {
        font-size: 1.20rem;
        flex-direction: column;
        height: 60vh;
        gap: 2px;
        align-items: start;
        scale: 0;
        opacity: 0;
        justify-content: none;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.9);
    }

    #myLinks.active {
        scale: 1;
        opacity: 1;
    }
}