@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    min-height: 4500px;
}



html {
    scroll-behavior: smooth;
}

.landing-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    height: 120vh;
    padding: 0;
    margin: 0;

}


#myLinks {
    background-color: rgb(0, 0, 0, 0.8);
    height: 7vh;
    width: 100vw;
    position: fixed;
    top: 90px;
    scale: 0;
    opacity: 0;
    z-index: 1001;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: .3s ease;
    padding: 0;
}

#myLinks a {
    text-decoration: none;
    color: white;
}

#myLinks.active {
    scale: 1;
    opacity: 1;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1001;
    padding-block: 0px;
    height: 90px;
}

.navbar a {
    padding: 0;
    margin: 0;
    margin-left: 25px;
    width: 100px;
}

.navbar img {
    width: 100%;
    object-fit: cover;
}

.icon {
    cursor: pointer;
    margin-right: 25px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    height: 30px;
    width: 30px;
    position: relative;
    transition: .3s ease;
}


.icon.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.icon.active span:nth-child(2) {
    opacity: 0;
}

.icon.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.icon span {
    height: 3px;
    width: 25px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.icon span:nth-child(1) {
    top: 30%;
}

.icon span:nth-child(2) {
    top: 50%;
}

.icon span:nth-child(3) {
    top: 70%;
}

.rotate {
    position: absolute;
    backdrop-filter: sepia(100%);
    border-radius: 50%;
    left: 57%;
    top: 40%;
    height: 120px;
    width: 120px;
    animation: rotate 10s linear infinite;
}

.vidrotate {
    width: 100%;
    object-fit: cover;
}

.up {
    position: absolute;
    height: 50vh;
    top: 10%;
    display: flex;
    flex-direction: column;

}


@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.under {
    display: flex;
    margin-left: 0.5%;
    margin-top: -2%;
}

.undertext,
.undertext2 {
    color: white;
    font-family: "Montserrat", sans-serif;
}

.undertext2 {
    letter-spacing: 5.5px;
}



.landingbutton {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    left: 37%;
    width: 300px;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    padding: 10px;
    z-index: 202;
    transition: all 0.3s linear;
}


.landingbutton:hover {
    background-color: black;
}

.collab {
    position: absolute;
    bottom: -30%;
    left: 55%;
    transform: translateX(-50%);
    height: 50px;
    object-fit: cover;
    z-index: 2;
}

.text-container {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 9rem;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    line-height: 69.9%;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    text-transform: uppercase;
}

#sp-2 {
    letter-spacing: 11px;
}


.container {
    height: 100vh;
    width: 90vw;
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 105;
    margin: 0;
    padding: 0;
}


:root {
    --cards: 4;
    --cardHeight: 87vh;
    --cardTopPadding: 1.5em;
    --cardMargin: 4vw;
}


#cards {
    list-style: none;
    padding-left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);
}


#card1,
#card2,
#card3,
#card4 {
    width: 100%;
    justify-self: center;
}

#card1 {
    --index: 1;
}

#card2 {
    --index: 2;
}

#card3 {
    --index: 3;
}

#card4 {
    --index: 4;
}

.card {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--cardTopPadding));
    overflow: hidden;
}




.card-body {
    box-sizing: border-box;
    padding: 0;
    border-top-right-radius: 150px;
    border-top-left-radius: 20px;
    height: var(--cardHeight);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    overflow: hidden;
    transition: all 2s;
}


.card-text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 150%;
    color: white;
}

.card-text p {
    font-size: 1.20rem;
}

.card-text a {
    text-align: center;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.card-text a:hover {
    transform: translateY(-2px);
    background-color: black;
}

.card-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.card-text h2 {
    font-size: 2.5em;
    text-align: center;
}


.activetab {
    color: rgb(168, 146, 18) !important;
}

.wt {
    width: 100vw;
    height: 55vh;
    position: absolute;
    top: 475.5vh;
    left: 50%;
    transform: translateX(-50%);
}



.reviews {
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white !important;
}

.waves {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 21%, rgba(230, 206, 20, 1) 41%, rgba(255, 167, 0, 1) 62%, rgba(219, 122, 18, 1) 71%, rgba(0, 0, 0, 1) 84%, rgba(0, 0, 0, 1) 100%);
    animation: gradient 15s ease infinite;
    background-size: 100% 100%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(0, 0, 0, 1);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 22em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.5;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.7;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.8;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

@keyframes slideLEFT {
    to {
        left: 50%;
        transform: translateX(-50%);
    }
}

.reviews h2 {
    left: -100%;
    top: 10px;
    position: absolute;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 250%;
    animation: slideLEFT linear forwards;
    animation-timeline: view();
    animation-range: 100px 500px;
}

.reviews-head {
    position: absolute;
    top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.stars {
    display: flex;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.fa-star {
    color: white;
}

.checked {
    color: #FFC100;
}

.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 15px;
}

.right {
    text-align: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
    vertical-align: middle;


}



.row {
    position: absolute;
    top: 200px;

}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 50px;
    height: 5px;
    margin-top: 4px;
    margin-left: 4px;

}

/* Individual bars */
.bar-5 {
    width: 60%;
    height: 5px;
    background-color: #FFC100;
}

.bar-4 {
    width: 30%;
    height: 5px;
    /* background-color: #FF8A08; */
    background-color: #FFC100;
}

.bar-3 {
    width: 10%;
    height: 5px;
    /* background-color: #FF6500; */
    background-color: #FFC100;

}

.bar-2 {
    width: 10%;
    height: 5px;
    /* background-color: #C40C0C; */
    background-color: #FFC100;
}

.bar-1 {
    width: 15%;
    height: 5px;
    /* background-color: #f44336; */
    background-color: #FFC100;
}


@keyframes fadetxt {
    to {
        opacity: 1;
    }
}

.side,
.right {
    opacity: 0;
    animation: fadetxt linear forwards;
    animation-timeline: view();
    animation-range: 100px 300px;
}


#bar-1,
#bar-2,
#bar-3,
#bar-4,
#bar-5 {
    opacity: 0;
    animation: fadetxt linear forwards;
    animation-timeline: view();
    animation-range: 100px 300px;
}


.testimonials {
    position: absolute;
    top: 550%;
    height: 47vh;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%) scale(0);
    opacity: 0;
    animation: reveal linear forwards;
    animation-timeline: view();
    animation-range: entry;
    transform-origin: center;
}

@keyframes reveal {
    to {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}



.slider-container {
    width: 70%;
    height: 60%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    color: white;
    position: relative;
}

.slide img {
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #FFC100;
}

.slide .stars {
    position: absolute;
    top: 110px;
    left: 17px;
}

.treview {
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 105px;
    max-height: 150px; /* Limit the height */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis */
    display: -webkit-box;
    -webkit-line-clamp: 6; /* Number of lines before truncating */
    -webkit-box-orient: vertical;
}

.author {
    font-size: 16px;
    color: #FFC100;
    position: absolute;
    top: 75px;
    left: 17px;
}

.snav {
    position: absolute;
    bottom: -9px;
    right: -15px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.snav button {
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: color 0.3s;
}

.aleft, .aright {
    fill: white;
    transition: fill 0.3s;
}

.aleft:hover, .aright:hover {
    fill: #FFC100;
}





@media (max-width: 750px) {
    .text-container {
        line-height: 4%;
    }

    .collab {
        position: absolute;
        bottom: -15%;
        left: 38%;
        transform: translateX(-50%);
        height: 20px;
        backdrop-filter: sepia(100%);
        object-fit: cover;
        z-index: 2;
    }

    .snav {
        position: absolute;
        bottom: 45px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .slider-container {
        width: 90%;
    }

    .testimonials {
        top: 495vh;
        width: 100vw;
        height: 50vh;
    }

    .waves {
        display: none;
    }

    .under {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 2%;
        margin-top: -50%;
    }

    .landing-page {
        width: 100vw;
    }

    .ut {
        width: 90%;
    }

    .undertext,
    .undertext2 {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        width: 90%;
        z-index: 2;
    }

    .vidrotate {
        width: 100%;
    }

    .undertext2 {
        letter-spacing: 0px;
    }

    .landingbutton {
        padding: 5px;
    }



    .card-text {
        width: 71vw;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    #sp {
        width: 80vw;
    }

    .rotate {
        left: 75%;
        top: 35%;
        height: 70px;
        width: 70px;
    }

    #sp-1,
    #sp-2 {
        font-size: 3.35rem !important;
        margin: 0;
    }

    #sp-2 {
        letter-spacing: 3px;
    }

    .text-container span {
        margin-left: 2%;
    }


    #myLinks {
        font-size: 1.20rem;
        flex-direction: column;
        height: 75vh;
        gap: 2px;
        justify-content: none;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.9);
    }

    #card1,
    #card2,
    #card3,
    #card4 {
        width: 80vw;
        justify-self: center;
    }

    .wt {
        width: 100vw;
        height: 50vh;
        position: absolute;
        top: 455.7vh;
    }

    body {
        overflow-x: hidden !important;
    }

    .vidrotate {
        height: 140vh;
        object-fit: cover;
    }

    .reviews {
        height: 100%;
    }

    .reviews h2 {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 90%;
        text-transform: uppercase;
        animation-range: 100px 200px;
    }

    .side,
    .right {
        opacity: 0;
        animation: fadetxt linear forwards;
        animation-timeline: view();
        animation-range: 100px 180px;
    }


    #bar-1,
    #bar-2,
    #bar-3,
    #bar-4,
    #bar-5 {
        opacity: 0;
        animation: fadetxt linear forwards;
        animation-timeline: view();
        animation-range: 100px 140px;
    }


}