@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

footer {
    width: 100%;
    /* Ensure the footer takes the full width of the page */
    background-color: black;
    /* Your desired footer background color */
    color: white;
    /* Your desired footer text color */
    text-align: center;
    padding: 20px 0;
    /* Adjust as needed */
}


.footer-top {
    background-color: #ffbf009d;
    padding: 20px 0;
    text-align: center;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    padding: 10px;
}

.footer-column p {
    margin: 0;
}

.footer-bottom {
    padding: 20px;
    text-align: center;
}

.footer-bottom img {
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    padding-block: 10px;
    border-bottom: 1px solid white;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links a {
    margin: 0 10px;
    color: white;
}

.footer-social {
    margin: 20px 0;
}

.footer-social a {
    color: white;
    margin: 0 5px;
}

footer img {
    height: 80px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8f6b00;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
}

.back-to-top i {
    color: black;
}


#myLinks {
    background-color: rgb(0, 0, 0, 0.8);
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: .3s ease;
    padding: 0;
    z-index: 10;
}

#myLinks a {
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    text-align: center !important;

}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-block: 0px;
    background-color: black;
    height: 90px;
    z-index: 10;
}

.navbar a {
    padding: 0;
    margin: 0;
    margin-left: 25px;
    width: 100px;
    text-align: center !important;
}

.navbar img {
    width: 100%;
    object-fit: cover;
}

.activetab {
    color: gold !important;
}

.shopping-cart {
    position: fixed;
    top: 47px;
    right: 100px;
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    z-index: 9999;
}

.filter {
    position: fixed;
    top: 47px;
    right: 170px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
}

.shopping-cart i {
    color: white;
}


.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.cart-count.animate {
    transform: scale(0);
    opacity: 0;
    animation: bounce 1s linear forwards;
}

@keyframes bounce {
    50% {
        transform: scale(2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.icon {
    cursor: pointer;
    display: none;
    margin-right: 25px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position: relative;
    transition: .3s ease;
}


.icon.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.icon.active span:nth-child(2) {
    opacity: 0;
}

.icon.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.icon span {
    height: 3px;
    width: 25px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.icon span:nth-child(1) {
    top: 30%;
}

.icon span:nth-child(2) {
    top: 50%;
}

.icon span:nth-child(3) {
    top: 70%;
}

.products {
    width: 95%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 190px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product-hover {
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 5px;
    height: 80px;
    width: 50px;
    justify-content: space-around;
    border-radius: 5px;
}

.promotion {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgb(184, 0, 0);
    padding-inline: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}


.product-hover i {
    cursor: pointer;
}



.product {
    cursor: pointer;
    padding: 20px;
    position: relative;
    text-align: center;
    border: 5px solid #8f6b00;
    border-style: double;
    border-top-right-radius: 50px;
    border-top-left-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.product:hover {
    background-image: linear-gradient(225deg, #8f6b00, white, #8f6b00);
}

.filters-options {
    position: fixed;
    top: 90px;
    left: -100%;
    transition: left 0.5s ease-in-out; 
    width: 40vw;
    height: calc(100vh - 90px);
    z-index: 2000;
    backdrop-filter: blur(25px);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    background-color: rgba(255,255,255,0.6);
    background-image: linear-gradient(225deg, #8f6b00, white, #8f6b00);
}


.filters-options.show {
    display: flex; 
    left: 0;
}

.filtercontainer {
    font-weight: bold;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

.filtercontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #1d1d1d;
}

.filtercontainer:hover input~.checkmark {
    background-color: #8f6b00;
}

/* When the checkbox is checked, add a blue background */
.filtercontainer input:checked~.checkmark {
    background-color: #8f6b00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.filtercontainer input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.filtercontainer .checkmark:after {
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}




.productIMG {
    height: 300px;
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: all 0.1s linear;
}

.product:hover .productIMG img {
    scale: 1.2;
}

.product:hover .productIMG {
    box-shadow: 0px 5px 10px black;
}

.out-of-stock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(25px);
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 20px 15px;
    width: 100%;
    color: red;
}

.out-of-stock-img {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.productIMG img {
    align-self: center;
    justify-self: center;
    transition: all 0.2s ease-in-out;
    transform-origin: center center;
}


.product:hover .product-hover {
    display: flex;
    /* Show when parent is hovered */
}

.product-hover i:hover {
    color: #8f6b00;
}


.product img {
    max-width: 100%;
    height: auto;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
}

.page-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

#page-numbers {
    display: flex;
}

.page-number {
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
}

.page-number.active {
    font-weight: bold;
    color: #8f6b00;
}

.add-to-cart-btn, .filterButton {
    padding-inline: 10px;
    padding-block: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: none;
    background-color: transparent;
    transition: all 0.3s linear;
}

.add-to-cart-btn:hover, .filterButton:hover {
    background-color: black;
    color: #8f6b00;
    border: 1px solid #8f6b00;
    transform: translateY(-3px);
}

.product-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.product-detail.show {
    opacity: 1;
    visibility: visible;
}

.product-detail-content {
    width: 80%;
    height: 80%;
    background-color: black;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.3fr 0.7fr;
    gap: 5px 5px;
    grid-template-areas:
        "primary-image primary-image text"
        "primary-image primary-image text"
        "image-options image-options content-buttons";
    border-radius: 8px;
    transition: transform 0.5s;
    transform: scale(0.7);
}

.product-detail.show .product-detail-content {
    transform: scale(1);
}

.close-btn {
    position: absolute;
    top: 10px;
    color: white;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.close-btn:hover {
    font-size: 2.05rem;
    color: #8f6b00;
}

.primary-image-container {
    grid-area: primary-image;
    position: relative;
    background-color: white;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
}

.primary-image-container .left-button,
.primary-image-container .right-button {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: none;
    font-size: 2rem;
    color: black;
    background-color: transparent;
    position: absolute;
    transition: all 0.2s linear;

}

.primary-image-container .left-button {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.primary-image-container .right-button {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.primary-image-container .left-button:hover,
.primary-image-container .right-button:hover {
    font-size: 2.05rem;
    color: #8f6b00;
}

.primary-image {
    height: 90%;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-detail-images-options {
    grid-area: image-options;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-gutter: stable both-edges;
    gap: 10px;
    width: 70%;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.product-detail-images-options::-webkit-scrollbar {
    height: 5px;
}

.product-detail-images-options::-webkit-scrollbar-track {
    background: transparent;
}

.product-detail-images-options::-webkit-scrollbar-thumb {
    background: #cf9c01;
}

.product-detail-images-options::-webkit-scrollbar-thumb:hover {
    background: #8f6b00;
}



.product-detail-image-option-container {
    cursor: pointer;
    height: 100px;
    min-width: 100px;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8f6b00;
    background-color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 2px 4px #8f6b00;
    transition: all 0.2s ease-in-out;
}

.product-detail-images-options img {
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    filter: blur(2px);
    transition: all 0.2s ease-in-out;
}

.product-detail-image-option-container:hover img {
    scale: 1.1;
    filter: none;
}

.product-detail-image-option-container:hover {
    transform: translateY(-2px);
}


.product-detail-text {
    grid-area: text;
    text-align: center;
    color: white;
    position: relative;
}

.description-container {
    position: absolute;
    max-height: 70%;
    padding-inline: 5px;
    scrollbar-gutter: stable both-edges;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: start;
}

.description-container::-webkit-scrollbar {
    width: 5px;
}

.description-container::-webkit-scrollbar-track {
    background: transparent;
}

.description-container::-webkit-scrollbar-thumb {
    background: #cf9c01;
}

.description-container::-webkit-scrollbar-thumb:hover {
    background: #8f6b00;
}



.product-detail-text h3 {
    color: #8f6b00;
}

.product-detail-buttons {
    grid-area: content-buttons;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.quantity-selector {
    display: flex;
    gap: 40px;
}



.product .quantity-selector {
    margin-top: 10px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: black;
    padding-block: 5px;
}

.product h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}


.product-detail-buttons .add-to-cart-button {
    border: 1px solid white;
    background-color: transparent;
    padding-inline: 10px;
    padding-block: 5px;
    cursor: pointer;
    color: white;
    border-radius: 15px;
    transition: all 0.3s linear;
}

.product-detail-buttons .add-to-cart-button:hover {
    border: 1px solid #8f6b00;
    color: #8f6b00;
    transform: translateY(-3px);
}

/* Additional CSS for rotating carets */
.rotate-up {
    transform: rotate(180deg);
}

.rotate-right {
    transform: rotate(90deg);
}

/* DROPDOWN*/
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: transparent;
    font-size: 16px;
    padding: 10px 10px !important;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* The dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    z-index: 9999;
    min-width: 160px;
    text-align: center;
    padding-block: 5px;
    padding-inline: 0;
    margin: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    text-align: center !important;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #8f6b00;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #8f6b00;
}

.dropdown:hover .mmfa {
    transform: rotate(180deg);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu2 {
    position: relative;
}

.dropdown-submenu a {
    text-align: center;
    flex-direction: row !important;
}

.dropdown-submenu2 a {
    flex-direction: row !important;
}

.dropdown-subcontent a, .dropdown-subcontent2 a {
    text-align: center !important;
}

/* Submenu content (hidden by default) */
.dropdown-subcontent, .dropdown-subcontent2 {
    display: none;
    position: absolute;
    top: 0;
    background-color: black;
    min-width: 160px;
    padding-block: 5px;
    padding-inline: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-subcontent {
    left: 100%;
}
.dropdown-subcontent2{
    left: 100%;
}
/* Show the submenu on hover */
.dropdown-submenu:hover .dropdown-subcontent {
    display: block;
}



.fa {
    transition: all 0.3s ease;
}
.dropdown-submenu:hover .mfa {
    transform: rotate(180deg);
}

.dropdown-submenu2:hover .sfa {
    transform: rotate(180deg);
}


.dropdown-submenu2:hover .dropdown-subcontent2 {
    display: block;
}


/* Arrow icon for submenus */
.dropdown-submenu a {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

/* Arrow icon styling */
.fa-caret-right {
    margin-left: 10px;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #8f6b00;
}

.dropdown-content.show {
    display: block;
}

.dropdown-subcontent.show, .dropdown-subcontent2.show, .dropdown-subcontent3.show {
    display: block;
}


@media (max-width: 750px) {
    * {
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .filters-options {
        width: 100%;
        background-color: rgba(255,255,255,0.6);
    }

    .icon {
        display: block;
    }
    
    .products {
        width: 95%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 90px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .product h3 {
        font-size: 0.7rem;
        text-overflow: ellipsis;
    }

    .product .price {
        font-size: 0.5rem;
    }

    #myLinks {
        font-size: 1.20rem;
        flex-direction: column;
        height: 60vh;
        gap: 2px;
        align-items: start;
        scale: 0;
        opacity: 0;
        justify-content: none;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.9);
    }

    #myLinks.active {
        opacity: 1;
        scale: 1;
    }

    footer {
        margin-top: 90px;
    }

    .product-detail-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1.3fr 0.7fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 5px 5px;
        grid-template-areas: "primary-image primary-image primary-image primary-image"
            "primary-image primary-image primary-image primary-image"
            "image-options image-options image-options image-options"
            "text text text content-buttons";
    }

    .primary-image {
        height: 90%;
        width: fit-content;
    }

    .product-detail-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .product-detail-text {
        text-align: start;
    }

    .quantity-selector {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .quantity-selector span {
        color: #8f6b00;
        text-align: center;
    }

    .product-detail-buttons .add-to-cart-button {
        border: 1px solid white;
        background-color: transparent;
        padding-inline: 10px;
        padding-block: 5px;
        cursor: pointer;
        color: white;
        border-radius: 15px;
        transition: all 0.3s linear;
    }

    .product-detail-buttons .add-to-cart-button:hover {
        border: 1px solid #8f6b00;
        color: #8f6b00;
        transform: translateY(-3px);
    }


    .description-container {
        max-height: 30%;
    }

}